body{
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 100%;
    width: 100%;
}
.header{
    background-color: black;
    opacity: 0.7;
    color: rgb(248, 242, 242);
    height: 40px; 
    padding: 0.5em;
    font-size: 30px;
}

.wrapper{
    background-image: url('background-img.jpg');
    height: 73vh;
    padding-bottom: 150px;
    margin:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#text{
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}


#container{
    margin-top: 90px;
    height: 40px;
    text-align: center;
}


#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
    height: 40px;
    margin-bottom: 12px;
	background-color: #fff;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: #fff; 
	}
}

.list-item{
    margin: 65px 0 10px 0;
}
ul{
    list-style: none;
    text-align: center;
}

ul li{
    display: inline;
    font-size: 30px;
    padding-right: 70px;    
}

.specify{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    font-size: 23px;
    cursor: pointer;
}

.rent{
    text-decoration: underline;
}

.box, .box2{
    text-align: center;
    margin: 50px 12% 0px 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px;
    padding: 15px;
    background: #fff;
    height: 55px;
    overflow: hidden;
}

.dropbtn{
    color: rgb(85, 82, 82);
    padding: 10px 25px 20px 5px;
    margin-right: 27px;
    font-weight: bold;
    border-right: 2px solid rgb(85, 82, 82);
    height: 20px;
}

/* .dropbtn p {
    font-size: 1.6em;
} */

.dropbtn div {
    margin-top: 5px;
}

.dropbtn i {
    font-size: 1.4em;
}

.dropdown-content, .dropdown-content2{
    display:none;
    position: absolute;
    margin-top: 20px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    max-height: 190px;
    overflow-y: scroll;
}

/* scrollbar */
.dropdown-content2::-webkit-scrollbar,.dropdown-content::-webkit-scrollbar {
    width: 5px;
    margin-top: 3px;
    height: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #b9aeae;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(58, 55, 55);
  }

p{
    display: inline;
}

.dropdown-content a {
    color: #605E5E;
    padding: 12px 16px;
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.fa-caret-down{
    cursor: pointer;
}

.span{
    background-color: #6528FF;
    color: white;
    padding:10px 10px 10px 12px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

.search2{
    display: none;
}

.search2 div{
    border-radius: 6px;
}

.span:hover{
    background-color: rgb(28, 28, 97);
}

button:focus{
    outline: none;
}

.error{
    margin-top: 15px;
    color: rgb(241, 116, 137);
    text-align: center;
}

.section{
    margin: auto;
    text-align: center;
    margin-top: 20px;
}

.newsletter{
    font-size: 40px;
    font-weight: bold;
}

p{
    font-size: 25px;
    line-height: 20px;
}

form{
    text-align: center;
    margin-bottom: 20px;
}

input{
    border: 2px solid red;
    padding: 12px 20px;
    border-radius: 5px;
    width: 25%;
    font-size: 20px;
}

.button{
    background-color: #6528FF;
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    border-radius: 4px;
    margin: 4px 2px;
}

/*--------- result section ---------- */

#results-screen{
    display: none;
}

main{
    background-color: white;
}

.header2{
    color:#6528FF;
    height: 2vw; 
    padding: 1em;
    font-size: 35px;
    font-weight: bolder;
    box-shadow: 0 0 5px 0 rgb(219, 218, 218);
    padding-left: 9%;
}

.refine-results{
    color: #fff;
    background-color: #6528FF;
    text-align: center;
    height: 35px;
    width: 77%;
    padding-top: 15px;
    margin: auto;
    margin-top: 25px;
    border-radius: 6px;
    display: none;
    font-size: 1.2rem;
}

.box2{
    margin-left: 9%;
    display: flex;
    justify-content: flex-start;
    background: white;
    text-align: center;
     margin-top: 20px;
    border-radius: 20px;
    padding:15px;
    height: 60px;
    overflow: hidden;
}

.dropbtn2{
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    height: 30px;
}

.dropbtn2 p{
    font-size: 1em;
}

.dropbtn2 div {
    margin-top: 2px;
}

.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.span2{
    background-color: #6528FF;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.display-error{
    color: red;
    margin-bottom: 10px;
}



.result-wrapper{
    width: 83%;
    /* overflow: hidden; */
    margin: auto;
}

#result-display{
    display: none;
}

.spec{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.house-img{
    width: 335px;
    height: 280px;
    border-radius: 7px;
}

/* .view-house{
    border: 2px solid black;
} */
.price {
    width: 335px;
    height: 100px;
    background: #6528FF;
    color: white;
    border-radius: 7px;
    font-size: 1.5rem;
    text-align: center;
}

.price div{
    padding-top: 20px;
}

.house-info div{
    padding: 30px 250px 10px 0px;
    font-size: 1.5rem;
    font-weight: bold;
}

.house-info div a {
    margin-top: 70px;
    font-size: 1.1rem;
}

/*screenloader*/
.loader{
    position: absolute;
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    transition: 0.5s all ease;
}

 .hide{
    opacity: 0;
    pointer-events: none;
}
.image{
    height: 280px;
    width: 335px;
    border-radius: 10px;
    background-color: #ccc;
}
.loader-price{
    background-color: #ccc;
    margin-top: 5px;
}

/* .house-info-loader{
    border: 2px solid black;
} */
 .info1, .info2, .info3{
    background-color: #ccc; 
    margin: 30px 0px 30px 20px;
    border-radius: 10px;
}

.info1{
    width: 23%;
}

.info2{
    width: 15%;
}

.info3{
    width: 10%;
}

.image,.loader-price, .info{
    background-image: linear-gradient(90deg, #f4f4f4, rgba(229,229,229,0.7) 90px, #f4f4f4 150px);
    background-size: 600px;
    animation: loading 1s infinite linear;
}

.last-content{
    margin-bottom: 10px !important;
}

.first-content{
    margin-top: 10px !important;
}

@keyframes loading{
    0% {
        background-position: -100px;
    }
    100% {
        background-position: 300px;
    }
}

body{
    background-color: white;
}

/*end of loader*/




/*--------- end of result section ---------- */


@media screen and (max-width: 450px){
    .header, .header2{
        font-size: 1.8rem;
    }
    #container{
        margin-top: 40px;
        padding: 20px;
    }
    #text{
        font-size: 1.9em;
    }
    .specify{
        font-size: 20px;
    }

    /*re-position the elements in the dropdown menu*/
    .box, .box2{
        margin-top: 0;
        overflow: initial;
        background-color: initial;
        display: grid;
        grid-template-areas:
         'location location'
         'housetype bedrooms'
         'bathrooms toilets'
         'search search';
    }
    #dropbtn{
        border-right: initial;
        height: 30px;
        border-radius: 20px;
        width: 100%;
        border-radius: initial;
        text-align: left;
    }
    .dropbtn div{
        margin-left: 5px;
    }
    .dropdown{
        border: 2px solid black;
        background-color: white;
    }
    .location{
        grid-area: location;
    }
    .housetype{
        grid-area: housetype;
    }
    .bedrooms{
        grid-area: bedrooms;
    }
    .bathrooms{
        grid-area: bathrooms;
    }
    .toilets{
        grid-area: toilets;
    }
    .search2{
        grid-area: search;
        display: block;
        width: 95%;
        margin: auto;
        margin-top: 10px;
    }
    .search1{
        display: none;
    }

    /*re-position the elements inside each dropdown*/
    /* .dropbtn{
        height: 30px;
        border-radius: 50px;
        width: 100%;
        border-radius: initial;
        text-align: left;
    } */
    .dropdown-content{
        margin-top: 2px;
    }
    .dropbtn i, .dropbtn2 i{
        float: right;
        left: 10px;
        margin-right: 15px;
    }
    .dropdown, .dropdown2{
        border-radius: 6px;
        margin: 10px;
        /* background-color: #fff; */
    }
    .error{
       display: none;
   }

   /*second screen */
   .box2{
       text-align: center;
       margin: auto;
       /* margin-left: 20px; */
       margin-top: 20px;
       background: rgb(241, 239, 239);
       height: 100%;
       padding: 0;
       border-radius: 0px;
       display: none;
   }

   .refine-results{
       display: block;
   }

   .dropbtn2{
       text-align: left;
       border-radius: 7px;
       padding: 0;
       padding-bottom: 20px;
       padding-left: 6px;
       padding-top: 3px;
       background-color: #fff;
   }

    .dropbtn2 i {
       margin-left: 20px;
       margin-right: 0px;
   }  

   .dropbtn2 .fas{
       margin-right: 5px;
   }
   .header2{
       width: 100vw;
   }
   .house-img, .image{
       width: 93%;
   }
   .price{
       width: 93%;
       margin: auto;
   }
   .image{
       width: 84%;
       margin-left: 10px;
       margin-bottom: 5px;
   }
   .loader-price{
       width: 84%;
       margin: 0;
       margin-left: 10px;
   }
   #result-display, .loader{
       margin-top: 30px;
       text-align: center;
   }
   
   .spec{
       display: block;
   }
 
   .house-info div{
       width: 100%;
       margin: 10px;
       padding: 0;
   }
}

@media only screen and (max-width: 375px){
    .header{
        font-size: 1.4em;
    }
    #container{
        margin-top: 0;
    }
    #text{
        font-size: 1.4em;
    }
    .list-item{
        margin-top: 30px;
        margin-bottom: 0;
    }
    .list-item li{
        font-size: 1em;
    }
    .dropdown{
        width: 7rem;
        height: 47px;
    }
    .location{
        width:92%;
    }
    .dropbtn{
        padding: 2px 0px 0px 2px;
        margin-bottom: 10px;
    }
    .dropbtn p, .dropbtn div{
        font-size: 1em;
    }
    .dropbtn i{
        margin-right: 5px;
    }
    .search2 div{
        height: 20px;
        font-size: 1.2em;
        width: 88%;
        margin: auto;
    }
}











